.wraper{
    border: 1px solid;
    width: 500px;
    height: 500px;
    text-align: center;
    margin: auto;
    position: relative;
}
.wraper::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: aqua;
    left: 50px;
    margin-top: 20px;
}
.wraper::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: aqua;
    left: 300px;
    margin-top: -87px;
}
.s1{
    position: relative;
}
.s1::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: aqua;
    margin-left: 200px;
    margin-top: 20px;
}
.s1::backdrop{
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: aqua;
    margin-left: -200px;
    margin-top: 20px;
}
h2{
    position: relative;
}
h2::after
    {
        content: "";
        position: absolute;
        width: 400px;
        height: 2px;
        background-color: aqua;
        left: 55px;
        margin-top: 300px;
    }
    .s2{
        position: relative;
    }
    .s2::after{
        content: "";
        position: absolute;
        width: 2px;
        height: 20px;
        background-color: aqua;
        margin-left: 200px;
        margin-top: 233px;}

    .s2::before{
            content: "";
            position: absolute;
            width: 2px;
            height: 20px;
            background-color: aqua;
            margin-left: -198px;
            margin-top: 233px;
        }